
body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

  .cimg {
    margin-left: auto; 
    margin-right: auto;
    text-align: center; 
    height:60vh; 
    object-fit: cover;
  }